@カラム生成, カラム, カラムメニュー:0, カラムメニュー:1, カラムメニュー:2, カラムメニュー:3, カラムメニュー:4, カラムメニュー:5, カラムメニュー:6, カラムメニュー:7, カラムメニュー:8, カラムメニュー:9
#DIM DYNAMIC LCOUNT
#DIM DYNAMIC LINE
;MAX_LINEは可変にしてみる
;#DIM CONST MAX_LINE = 30
#DIM 表示カラム
#DIM DYNAMIC 文字数計算用
#DIM DYNAMIC 行文字数 = STRLENSU(GETLINESTR("─"))
;#DIM DYNAMIC 選択カラム = 0
#DIM DYNAMIC 平文文字数
#DIMS DYNAMIC カラムメニュー, 10
#DIM DYNAMIC カラム数
#DIMS カラム
REDRAW 0
CALL LOOP_CLEARLINE

ARRAYCOPY "カラムメニュー", "カラム名"

FOR LCOUNT, 0, VARSIZE("カラムメニュー")
	IF カラムメニュー:LCOUNT == ""
		カラム数 = LCOUNT
		BREAK
	ENDIF
NEXT

CALL CHECKDRAWLINE

FOR LCOUNT, 0, VARSIZE("カラムメニュー")
	文字数計算用 = MAX(STRLENSU(カラムメニュー:LCOUNT)+3, 文字数計算用)
NEXT

;罫線3つ分引いてSTRLENSU→STRLENS変換で2倍
平文文字数 = (行文字数-文字数計算用-3)*2

;VARSET カラム行
VARSET COLUMNLOG

CALL COLUMNRESIZE, 0, (行文字数-文字数計算用-3)*100, MAX_LINE*GETCONFIG("一行の高さ")
CALL COLUMNMOVE, 0, (文字数計算用+2)*100, MAX_LINE*GETCONFIG("一行の高さ")

CALLFORM %カラム%_%カラムメニュー:選択カラム%

FOR LINE, 0, MAX_LINE+2
	FOR LCOUNT, 0, 行文字数
		SELECTCASE LINE
			CASE 0
				SELECTCASE LCOUNT
					CASE 0
						PRINT ┌
					CASE 行文字数-1
						PRINT ┐
					CASEELSE
						IF LCOUNT == 文字数計算用+1 && 選択カラム != 0
							PRINT ┬
						ELSE
							PRINT ─
						ENDIF
				ENDSELECT
			CASE MAX_LINE+1
				SELECTCASE LCOUNT
					CASE IS < 文字数計算用+1
						PRINT 　
					CASE 文字数計算用+1
						PRINT └
					CASE 行文字数-1
						PRINT ┘
					CASEELSE
						PRINT ─
				ENDSELECT
			CASEELSE
				IF LINE/2 < カラム数
					IF LINE%2
						SELECTCASE LCOUNT
							CASE 0
								PRINTFORM │[{LINE/2+100}] %カラムメニュー:(LINE/2), (文字数計算用-3)*2, LEFT%
							CASE 行文字数-1
								PRINT │
							CASE IS > 文字数計算用
								IF LCOUNT == 文字数計算用+1
									IF 選択カラム != LINE/2
										PRINTPLAIN │
									ELSE
										PRINTPLAIN 　
									ENDIF
								ELSEIF LCOUNT == 文字数計算用+2
									PRINTFORM %" ", 平文文字数, LEFT%
								ENDIF
						ENDSELECT
					ELSE
						SELECTCASE LCOUNT
							CASE 0
								;IF 選択カラム < LINE/2
									PRINT ├
								;ELSE
								;	PRINT ┌
								;ENDIF
							CASE IS <= 文字数計算用
								PRINT ─
							CASE 文字数計算用+1
								IF 選択カラム < LINE/2
									IF LINE == (選択カラム*2)+2
										PRINTPLAIN ┐
									ELSE
										PRINTPLAIN ┤
									ENDIF
								ELSE
									IF LINE == (選択カラム*2)
										PRINTPLAIN ┘
									ELSE
										PRINTPLAIN ┤
									ENDIF
								ENDIF
							CASE 行文字数-1
								PRINTPLAIN │
							CASE 文字数計算用+2
								PRINTFORM %" ", 平文文字数, LEFT%
						ENDSELECT
					ENDIF
				ELSEIF LINE/2 == カラム数 && LINE%2 == 0
					SELECTCASE LCOUNT
						CASE 0
							PRINT └
						CASE IS <= 文字数計算用
							PRINT ─
						CASE 文字数計算用+1
							IF LINE == (選択カラム*2)+2
								PRINTPLAIN ┐
							ELSE
								PRINTPLAIN ┤
							ENDIF
						CASE 行文字数-1
							PRINTPLAIN │
						CASE 文字数計算用+2
							PRINTFORM %" ", 平文文字数, LEFT%
					ENDSELECT
				ELSE
					SELECTCASE LCOUNT
						CASE IS < 文字数計算用+1
							PRINT 　
						CASE 文字数計算用+1
							PRINTPLAIN │
						CASE 行文字数-1
							PRINTPLAIN │
						CASE 文字数計算用+2
							PRINTFORM %" ", 平文文字数, LEFT%
					ENDSELECT
				ENDIF
		ENDSELECT
	NEXT
	IF LINE == MAX_LINE+1
		CALL COLUMNSHOW
;		WAIT
;		PRINT 
	ELSE
		PRINTL 
	ENDIF
NEXT


[SKIPSTART]
FOR LINE, 0, MAX_LINE+2
	FOR LCOUNT, 0, 行文字数
		SELECTCASE LINE
			CASE 0
				SELECTCASE LCOUNT
					CASE 0
						PRINT ┌
					CASE 行文字数-1
						PRINT ┐
					CASEELSE
						IF LCOUNT == 文字数計算用+1 && 選択カラム != 0
							PRINT ┬
						ELSE
							PRINT ─
						ENDIF
				ENDSELECT
			CASE MAX_LINE+1
				SELECTCASE LCOUNT
					CASE IS < 文字数計算用+1
						PRINT 　
					CASE 文字数計算用+1
						PRINT └
					CASE 行文字数-1
						PRINT ┘
					CASEELSE
						PRINT ─
				ENDSELECT
			CASEELSE
				IF LINE/2 < カラム数
					IF LINE%2
						SELECTCASE LCOUNT
							CASE 0
								PRINTFORM │[{LINE/2+100}] %カラムメニュー:(LINE/2), (文字数計算用-3)*2, LEFT%
							CASE 行文字数-1
								PRINT │
							CASE IS > 文字数計算用
								IF LCOUNT == 文字数計算用+1
									IF 選択カラム != LINE/2
										PRINTPLAIN │
									ELSE
										PRINTPLAIN 　
									ENDIF
								ELSEIF LCOUNT == 文字数計算用+2
									TRYCCALLFORM %カラム%_%カラムメニュー:選択カラム%
										CALL COLUMNLINE, LINE-1, 平文文字数
									CATCH
										PRINTFORM %" ", 平文文字数, LEFT%
									ENDCATCH
								ENDIF
						ENDSELECT
					ELSE
						SELECTCASE LCOUNT
							CASE 0
								;IF 選択カラム < LINE/2
									PRINT ├
								;ELSE
								;	PRINT ┌
								;ENDIF
							CASE IS <= 文字数計算用
								PRINT ─
							CASE 文字数計算用+1
								IF 選択カラム < LINE/2
									IF LINE == (選択カラム*2)+2
										PRINTPLAIN ┐
									ELSE
										PRINTPLAIN ┤
									ENDIF
								ELSE
									IF LINE == (選択カラム*2)
										PRINTPLAIN ┘
									ELSE
										PRINTPLAIN ┤
									ENDIF
								ENDIF
							CASE 行文字数-1
								PRINTPLAIN │
							CASE 文字数計算用+2
								TRYCCALLFORM %カラム%_%カラムメニュー:選択カラム%
										CALL COLUMNLINE, LINE-1, 平文文字数
								CATCH
									PRINTFORM %" ", 平文文字数, LEFT%
								ENDCATCH
						ENDSELECT
					ENDIF
				ELSEIF LINE/2 == カラム数 && LINE%2 == 0
					SELECTCASE LCOUNT
						CASE 0
							PRINT └
						CASE IS <= 文字数計算用
							PRINT ─
						CASE 文字数計算用+1
							IF LINE == (選択カラム*2)+2
								PRINTPLAIN ┐
							ELSE
								PRINTPLAIN ┤
							ENDIF
						CASE 行文字数-1
							PRINTPLAIN │
						CASE 文字数計算用+2
							TRYCCALLFORM %カラム%_%カラムメニュー:選択カラム%
								CALL COLUMNLINE, LINE-1, 平文文字数
							CATCH
								PRINTFORM %" ", 平文文字数, LEFT%
							ENDCATCH
					ENDSELECT
				ELSE
					SELECTCASE LCOUNT
						CASE IS < 文字数計算用+1
							PRINT 　
						CASE 文字数計算用+1
							PRINTPLAIN │
						CASE 行文字数-1
							PRINTPLAIN │
						CASE 文字数計算用+2
							TRYCCALLFORM %カラム%_%カラムメニュー:選択カラム%
								CALL COLUMNLINE, LINE-1, 平文文字数
							CATCH
								PRINTFORM %" ", 平文文字数, LEFT%
							ENDCATCH
					ENDSELECT
				ENDIF
		ENDSELECT
	NEXT
	PRINTL 
NEXT
[SKIPEND]
INPUT

SELECTCASE RESULT
	CASE 100 TO 110
		選択カラム = RESULT-100
		CRESULT:1 = -1
		RESTART
	CASEELSE
		CRESULT:0 = 選択カラム
		CRESULT:1 = RESULT
		REDRAW 1
		RETURN
ENDSELECT

@COLUMNCREATE, ARG

SIF COLUMN:ARG:CREATED
	RETURN 0

COLUMN:ARG:CREATED = 1
RETURN 1

@COLUMNRESIZE, ARG, ARG:1, ARG:2

COLUMN:ARG:WIDTH = ARG:1
COLUMN:ARG:HEIGHT = ARG:2

@COLUMNMOVE, ARG, ARG:1, ARG:2

COLUMN:ARG:XPOS = ARG:1
COLUMN:ARG:YPOS = -ARG:2

[SKIPSTART]
@COLUMNCOLOR, ARG, ARGS

IF ISNUMERIC(ARGS)
	COLUMN:ARG:5 = TOINT(ARGS)
ELSE
	COLUMN:ARG:5 = COLOR_FROMNAME(ARGS)
ENDIF
[SKIPEND]

@COLUMNBGCOLOR, ARG, ARGS

IF ISNUMERIC(ARGS)
	COLUMN:ARG:BGCOLOR = TOINT(ARGS)
ELSE
	COLUMN:ARG:BGCOLOR = COLOR_FROMNAME(ARGS)
ENDIF

[SKIPSTART]
@COLUMNDIRECTION, ARG, 方向
#DIM DYNAMIC 方向

COLUMN:ARG:7 = 方向
[SKIPEND]

@COLUMNPRINT, ARG, ARGS, ARGS:1
CALL COLUMNSHIFT(ARG, ARGS, ARGS:1)

@COLUMNPRINTL, ARG, ARGS, ARGS:1
CALL COLUMNSHIFT(ARG, ARGS, ARGS:1)
COLUMN:ARG:LINE++

[SKIPSTART]
@COLUMNPRINTW, ARG, ARGS
CALL COLUMNSHIFT(ARG, ARGS)
COLUMN:ARG:9 = 0

CALL COLUMNWAIT
[SKIPEND]

@COLUMNIMG, ARG, ARGS, ARG:1, ARG:2
;DEBUGPRINTFORML {COLUMN:ARG:LINE}
CALL GCREATESTACK, ARGS
COLUMNLOG:ARG:(COLUMN:ARG:LINE) += @"<img src='%ESCAPE(ARGS)%' srcb='' width='{ARG:1}' height='{ARG:2}'>"


@COLUMNSHIFT, ARG, ARGS, ETC
#DIM DYNAMIC LCOUNT
#DIMS DYNAMIC ETC

SIF COLOR_FROMNAME(ETC) >= 0
	ARGS = <font color='%ETC%'>%ARGS%</font>

;IF COLUMN:ARG:9
;	COLUMNLOG:ARG:0 += ARGS
;ELSE
	;FOR LCOUNT, 0, VARSIZE("COLUMNLOG", 2)
		;IF COLUMNLOG:ARG:LCOUNT == ""
			;IF COLUMN:ARG:9
				COLUMNLOG:ARG:(COLUMN:ARG:LINE) += ARGS
			;ELSE
			;	COLUMNLOG:ARG:LCOUNT = %ARGS%
			;ENDIF
			;BREAK
		;ENDIF
	;NEXT
	;DEBUGPRINTFORML COLUMNSHIFT {LCOUNT} %ARGS%
	[SKIPSTART]
	IF LCOUNT == VARSIZE("COLUMNLOG", 2)
		FOR LCOUNT, 0, VARSIZE("COLUMNLOG", 2)
			IF LCOUNT == VARSIZE("COLUMNLOG", 2)-1
				IF COLUMON:ARG:9
					COLUMNLOG:ARG:LCOUNT = %ARGS%
			ELSE
				COLUMNLOG:ARG:LCOUNT = %COLUMNLOG:ARG:(LCOUNT+1)%
			ENDIF
		NEXT
	ENDIF
	[SKIPEND]
;ENDIF

@COLUMNSHOW
#DIM DYNAMIC LCOUNT
#DIM DYNAMIC LCOUNT2
#DIM DYNAMIC LCOUNT3
#DIMS DYNAMIC HTML
#DIMS DYNAMIC REVERSELOG, 10000
#DIM DYNAMIC LOGCOUNT

#DIMS DYNAMIC 本文, 10
#DIMS DYNAMIC ツールチップ
#DIMS DYNAMIC タグ
#DIM DYNAMIC ボタン, 10
#DIMS DYNAMIC 文字列ボタン, 10
#DIM DYNAMIC ボタン化
#DIMS DYNAMIC 文字色
#DIM DYNAMIC 括弧, 2
#DIM DYNAMIC ボタン数
#DIM DYNAMIC 開始位置

#DIM DYNAMIC 改行回数

CLEARLINE 1

;ボタンの数値が指定されたボタン番号と一致すると困るので、ボタン化されなさそうな数値に 元ネタ分かる人はすごい
VARSET ボタン, -3189415

HTML += "<nobr>"

FOR LCOUNT, 0, 10
	SIF COLUMN:LCOUNT:0 == 0
		CONTINUE
	HTML += @"<div rect='{COLUMN:LCOUNT:XPOS}, {COLUMN:LCOUNT:YPOS}px, {COLUMN:LCOUNT:WIDTH}, {COLUMN:LCOUNT:HEIGHT}px'>"
;	HTML += @"<div width='{COLUMN:LCOUNT:1}' height='{COLUMN:LCOUNT:2}px' xpos='{COLUMN:LCOUNT:3}' ypos='{COLUMN:LCOUNT:4}px'>"

	FOR LCOUNT2, 0, COLUMN:LCOUNT:9
		SIF MAX_LINE <= LCOUNT2
			BREAK
		VARSET 本文
		;IF COLUMNLOG:LCOUNT:LCOUNT2 != ""
			本文:0 = %COLUMNLOG:LCOUNT:LCOUNT2%
			開始位置 = 0
			FOR LCOUNT3, 0, 10
				括弧 = STRFINDU(本文:LCOUNT3, "[")
				括弧:1 = STRFINDU(本文:LCOUNT3, "]")

				IF 括弧 != -1 && 括弧:1 != -1
					;STRFIND系使うと"[～]"の範囲を取得してるので"["と"]"を省くために+1と-1する
					文字列ボタン:LCOUNT3 = %SUBSTRINGU(本文:LCOUNT3, 括弧+1, 括弧:1-括弧-1)%
					SIF ISNUMERIC(文字列ボタン:LCOUNT3)
						ボタン:LCOUNT3 = TOINT(文字列ボタン:LCOUNT3)
				ENDIF
				開始位置 = STRFINDU(本文:LCOUNT3, "[", 括弧:1)
				;DEBUGPRINTFORML 開始位置 {開始位置}
				IF 開始位置 > 0
					本文:(LCOUNT3+1) = %SUBSTRINGU(本文:LCOUNT3, 開始位置, -1)%
					本文:LCOUNT3 = %SUBSTRINGU(本文:LCOUNT3, 括弧, 開始位置-括弧)%
				ELSE
					BREAK
				ENDIF
			NEXT
			FOR LCOUNT3, 0, 10
				;DEBUGPRINTFORML %本文:LCOUNT3% {ボタン:LCOUNT3}
				IF ボタン:LCOUNT3 != -3189415
					HTML += @"<button value ='{ボタン:LCOUNT3}'>%本文:LCOUNT3%</button>"
				ELSEIF 文字列ボタン:LCOUNT3 != ""
					HTML += @"<button value ='%文字列ボタン:LCOUNT3%'>%本文:LCOUNT3%</button>"
				ELSE
					HTML += @"%本文:LCOUNT3%"
				ENDIF
			NEXT
			HTML += "<br>"
			VARSET ボタン, -3189415
			VARSET 文字列ボタン
		;ENDIF
	NEXT
	COLUMN:LCOUNT:LINE = 0
	[SKIPSTART]
	GDISPOSE LCOUNT
	GCREATE LCOUNT, COLUMN:LCOUNT:1, COLUMN:LCOUNT:2
	GSETFONT LCOUNT, "ＭＳ ゴシック", 100
	GSETBRUSH LCOUNT, COLUMN:LCOUNT:5+0xFF000000
	GCLEAR LCOUNT, COLUMN:LCOUNT:6+0xFF000000
	IF COLUMN:LCOUNT:7 == 0
		FOR LCOUNT2, 0, 10
			GDRAWTEXT LCOUNT, COLUMNLOG:LCOUNT:LCOUNT2, 0, GHEIGHT(LCOUNT)-LCOUNT2*100-100
		NEXT
	ELSE
		
		FOR LCOUNT2, 9999, -1, -1
			SIF COLUMNLOG:LCOUNT:LCOUNT2 != ""
				REVERSELOG:(LOGCOUNT++) = %COLUMNLOG:LCOUNT:LCOUNT2%
		NEXT
		FOR LCOUNT2, 0, 10
			GDRAWTEXT LCOUNT, REVERSELOG:LCOUNT2, 0, LCOUNT2*100
		NEXT
	ENDIF
	SPRITECREATE @"COLUMN_{LCOUNT}", LCOUNT
	HTML += @"<nonbutton pos='{COLUMN:LCOUNT:3}'><img src='COLUMN_{LCOUNT}' height='{COLUMN:LCOUNT:2}' ypos='-{COLUMN:LCOUNT:4}'></nonbutton>"
	[SKIPEND]
	HTML += "</div></nobr>"
NEXT


HTML_PRINT HTML


;WAIT
